@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dcd6f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateStudent {
  background-color: #4e4c67;
  min-height: 100vh;
  color: white;
}

.ShowStudentDetails {
  background-color: #4e4c67;
  min-height: 100vh;
  color: white;
}

.UpdateStudentInfo {
  background-color: #4e4c67;
  min-height: 100vh;
  color: white;
}

.ShowStudentList {
  background-color: #4e4c67;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

/* StudentList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid #ffc107;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-container a {
  color: white;
}

.card-container a:hover {
  color: #985f6f;
  text-decoration: none;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #fff;
  font-size: 1em;
  padding: 10px 0 10px 0;
}
